
  body {
    margin: 0 auto;
    max-width: 50em;
    background-color: rgb(255, 255, 255);
   }
  body {
    font-family: "Helvetica", "Arial", sans-serif;
  }
  body {
    line-height: 1.5;
    padding: 4em 1em;
  }
  
  h1
 { strong;
    color:rgb(200, 232, 251)
  }
  h2 {strong;
    margin-top: 1em;
    padding-top: 2em;
 
    color: rgb(19, 2, 83);
  }
  code,
pre {
  background: rgb(242, 242, 242);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
a {
  color: rgb(211, 11, 11);
}
body {
  color:  rgb(54, 52, 52); 
}

code,
pre {
  background: #f5f7f9;;
  border-bottom: 1px solid #000000;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}  
header {
   background-color: rgb(4, 2, 54);
  background-image: url("header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

